

export("BTreePlotter", trackBTree)
export("BTreePlotter", drawBTree)
export("BTreePlotter", drawBubbles)
export("BTreePlotter", drawFeatures)
export("BTreePredictor", loadRBD)
export("BTreePredictor", btpredict)
export("BTreePredictor", info)
export("Annotate", annoByGenesAndCyto)
export("TrackPlotter", xyTrack)
export("TrackPlotter", bafTrack)
export("TrackPlotter", heteroLociTrack)
export("TrackPlotter", RscoreTrack)
export("TrackPlotter", getTracks)
export("RBD", makeRBD)
export(saveXLS)
export(btcompare)

import("biovizBase")
import("Biobase")
import("BiocGenerics")
import("ggplot2")
import("gtable")
import("rainbow")
import("scales")
import("WriteXLS")
import("IRanges")
import("GenomicRanges")
import("grid")
import("gridExtra")
import("magrittr")
import("RColorBrewer")
import("rgl")
import("BiocStyle")

importFrom("plyr", l_ply)
importFrom("plyr", llply)
importFrom("plyr", ldply)
importFrom("plyr", dlply)
importFrom("plyr", ddply)
importFrom("plyr", adply)
importFrom("plyr", rename)
importFrom("plyr", mapvalues)
importFrom("plyr", arrange)

importFrom("dplyr", group_by)
importFrom("dplyr", filter)
importFrom("dplyr", summarise)

importFrom("gtools", mixedorder)
importFrom("limma", weighted.median)

